*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
.wel{
    text-align: center;
}
#sidebar-toggle{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar{
    left: -100%;
}
#sidebar-toggle:checked ~ .main-content header{
    left: 0;
    width: 100%;
    right: 0;
}
#sidebar-toggle:checked ~ .main-content{
    margin-left: 0;
}
.body-label{
    position: fixed;
    height: 100%;
    width: calc(100% - 280px);
    z-index: 30;
    right: -100%;
    top: 0;
}

.sidebar{
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #338dbc;
    color: #fff;
    z-index: 20;
    transition: left 300ms;
}
.sidebar-user{
    margin:3rem 0rem 1rem 0rem;
    text-align: center;
}
.sidebar-user img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.sidebar-user h3{
    font-size: 1rem;
}
.sidebar-user span{
    font-size: 0.8rem;
}
.sidebar-menu{
    margin-top: 2rem;
}
.sidebar-menu ul{
    margin-top: 1.5rem;
}
.sidebar-menu li{
    margin-bottom: 1.2rem;
    padding: 20px;
}
.sidebar-menu li:hover{
    background: #052036;
    cursor: pointer;
}
.sidebar-menu li a{
    color: #efefef;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
.sidebar-menu li a i{
    font-size: 1rem;
    display: inline-block;
    margin-right: 1rem;
}
.main-content{
    /* position: relative; */
    margin-left: 280px;
    transition: margin-left 300ms;

}

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    z-index: 20;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.menu-toggle label{
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.header-icons {
    display: flex;
    background: #fff;
}
.header-icons span {
    font-size: 1.5rem;
    margin: 2px 0;
    padding: 0 10px 0 0;
}

.header-icons i{
    padding: 5px 25px;
    /* text-align: center; */
    font-size: 22px;
}

.header-icons i:hover {
    cursor: pointer;
}
.header-icons form{
    background: #fff;
}
.header-icons button{
    background: #fff;
}

.menu-toggle label:hover{
    background: #efefef;
}
main{
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    position: relative;
}

@media (max-width: 1124px){
    
    .sidebar{
        left: -100%;
        z-index: 30;
    }
    .main-content{
        margin-left: 0;
    }
    header{
        left: 0;
        width: 100%;
    }

    #sidebar-toggle:checked ~ .sidebar{
        left: 0;    
    }

    #sidebar-toggle:checked ~ .body-label{
        right: 0;    
    }
    
}
.notify{
    padding: 20px;
    text-align: center;
    color: #f01818eb;
}

@media (max-width: 750px){  
    html{
        font-size: 70%;
    }

}
.sidebar-menu a{
    text-decoration: none;
}