
  /* Định dạng giá tiền với dấu phân cách hàng nghìn */
  .pro-price p::before {
    content: attr(data-price);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand' ;
}
.product-list{
    justify-content: center;
    /* border: 1px solid black; */
    margin-left: 20px;
    /* padding: 0 */
}
.product{
    /* position: relative; */
    /* border: 1px solid black; */
    margin: 20px;
    /* margin-left: 50px; */
    /* padding: 0 15px; */
    margin-bottom: 50px;
    width: 270px !important;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    
}
.product_block{
    /* border: 1px solid blue; */
    width: 270px;
    height: auto;
    /* text-align: left; */
    margin-right: 0;
}
.product-img{
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    position: relative;
}
.product-img a{
    width: 100%;
    height: auto;
    
    /* position: relative; */
    /* border: 5px solid purple; */
}
.pt1{
    transition: 0.5s ease;
}
.pt2{
    display: none;
}
.product:hover .pt2{
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    border: 0.05px solid #e5e5e5;
    
}
.product-img img{
    width: 270px;

    height: 270px;
    object-fit: cover;
}
.button-add button{
    display: none;
    width: 47%;
    height: 25px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #191919;
    color: #fff;
}
.product:hover .tobuy{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
    
}
.product:hover .tocart{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0px;
    
}
.product-detail{
    /* border: 1px solid red; */
    width: 100%;
   
}
.pro-name a{
    text-decoration: none;
    color: #191919;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.pro-price p{
    text-align: center;
    font-weight: 600;
    color: #f94c43;
}